# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
ENV/
env/
.env

# Distribution / packaging
dist/
build/

# Node.js
node_modules/

# IDEs
.vscode/
.idea/

# OS metadata
.DS_Store
Thumbs.db

# Image binaries
front/public/images/